trabalho1
trabalho2
trabalho3
trabalho3_mult
*.o
trabalho4_solucoes/trabalho4_1thread
trabalho4_solucoes/trabalho4_2threads
trabalho4_solucoes/trabalho4_4threads
trabalho4_solucoes/trabalho4_8threads
trabalho4_solucoes/trabalho4_16threads
trabalho5
trabalho6_solucoes/trabalho6_cozinheiro
trabalho6_solucoes/trabalho6_selvagem
trabalho8_solucoes/put
trabalho8_solucoes/take
trabalho8_solucoes/trabalho8_cozinheiro
trabalho8_solucoes/trabalho8_selvagem
trabalho8_solucoes/trabalho8_inicializador
trabalho8_solucoes/trabalho8_inicializador.c